.my-button {
    padding: 10px;
    border: 3px solid #AB007A;
    border-radius: 4px;
}

.toggle {
    padding: 3px;
    border: 3px solid #e04e39;
    border-radius: 4px;
    font-size: 14px;
}

.author {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px;
}

/* .on .presenter {
    display: none;
} */