{{docs-hero byline="Learn all the different ways to use components in Ember 3" heading="Components Museum"}}

<div class="author">
A project by <a href="https://twitter.com/jwwweber">Jen Weber</a>. Source code <a href="https://github.com/jenweber/the-ember-components-museum">here</a>.
</div>
